<html>
<head>
  <title>Pushforfame</title>
  
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <style>
    html, body {width:100%; height:100%; padding: 0; margin: 0; background: black;}

    #cartodb-map { width: 100%; height:100%; } 
    h1 {
        position: absolute; left: 120px; top: 200px; z-index: 10;
        font-family: 'Open Sans', sans-serif; font-size: 42px; color: rgba(255, 255, 255, 0.9);
      }
    h2 {
        width: 400px;
        position: absolute; left: 750px; top: 50px; z-index: 10; padding: 20; padding-top: 30;
        background-color: rgba(0, 0, 0, 0.8); 
        color: #FF0000;
        font-family: 'Open Sans', sans-serif; font-size: 22px;
      }
      p {
        font-family: 'Open Sans', sans-serif; 
        font-size: 16px;
        color: white; opacity: 0.9;
        z-index: 20;
      }
      a:link {text-decoration:none;}    /* unvisited link */
      a:visited {text-decoration:none; color: #FFFFFF;} /* visited link */
      a:active {text-decoration:underline;}  /* selected link */
      a:link {text-decoration:none; color:#FFFFFF !important; opacity:0.8;}
      a:hover {color:#FF0000 !important;} 
  </style>
</head>

<body>
  <!-- <h1><img src="bunny.jpg" width="382"></h1>  -->
  <img src="bunny.jpg" width="100%">

  <h2>
        # PUSH FOR FAME<br><br>
        <p style="font-size: 16px; color:rgba(255, 255, 255, 0.9);">
          Hi, we are Push for Fame - a series of video installations that live on streets of NYC and Shanghai. 
          We care about all human issues including yours.<br><br>

          If you see us on streets, think us as a serendipitous expedition for you to address issues that you care about. 
          With just one push on the display window, we can be friends. <br><br>

          You can find us at Waverley & Broadway or the Adaptive Design Association in NYC, United States. 
          Also you can reach us at NYU ITP in Shanghai, China. <br><br>
          
          Come visit us, and push the button!
          <!-- PUSH FOR FAME IS COLLECTIVE NARRATIVES <br><br>
          ON CORNERS IN NEW YORK -->
        </p>
  </h2>

  <p style="position:fixed; right:100px; color: white; z-index:40; bottom:100px;">
    <a href='/'>
    HOME >
      <!-- <img src="15mins_PUSH.png" style="position:fixed; right:100px; width:80px; height:85px; z-index:40; bottom:100px;"> -->
    </a>
  </p>
</body>
</html>
