<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Pushforfame</title>

	<meta name="description" content="Horizontal Scrolling with jQuery">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<style>
		body { background-color: black; }
		.section { 
			display: block; 
			width: 712px; 
			height: 400px; 
			float: left; 
			margin: 0px; 
			opacity: 1.0; 
			border-radius: 0px; 
			/*top: 400px;*/
		}
		.blue { background-color: #06F; }
		.green { background-color: #0f9d00; }
		.red { background-color: #F00; }
		.yellow { background-color: #ffea00; }

		.text_section {
			padding-left: 10px;
		}
		p {
        font-family: 'Open Sans', sans-serif; 
        font-size: 16px;
        color: white; opacity: 0.9;
        z-index: 20;
      }
      a:link {text-decoration:none;}    /* unvisited link */
      a:visited {text-decoration:none; color: #FFFFFF;} /* visited link */
      a:active {text-decoration:underline;}  /* selected link */
      a:link {text-decoration:none; color:#FFFFFF !important; opacity:0.8;}
      a:hover {color:#FF0000 !important;} 
		#container { width: 9286px;}  /*   container width = 712px * number of pictures  */
	</style>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<img src="ada.jpg" class="section" style="padding-right:30px"/>
		<!-- <img src="/ada/ada_front.jpg" class="section" style="padding-right:30px"/> -->

		<!-- 12 images -->
		<img src="/ada/327_3222014_12836.jpg" class="section" />
		<img src="/ada/328_3222014_12838.jpg" class="section" />
		<img src="/ada/329_3222014_12838.jpg" class="section" />
		<img src="/ada/330_3222014_12840.jpg" class="section" />
		<img src="/ada/331_3222014_12840.jpg" class="section" />
		<img src="/ada/332_3222014_12847.jpg" class="section" />
		<img src="/ada/333_3222014_12847.jpg" class="section" />
		<img src="/ada/334_3222014_12849.jpg" class="section" />
		<img src="/ada/335_3222014_12850.jpg" class="section" />
		<img src="/ada/336_3222014_12851.jpg" class="section" />
		<img src="/ada/337_3222014_235339.jpg" class="section" />
		<img src="/ada/338_3222014_235340.jpg" class="section" />
	</div>

	<p style="position:fixed; right:150px; color: white; z-index:40; bottom:100px;">
		<a href='/'>
		HOME >
      <!-- <img src="15mins_PUSH.png" style="position:fixed; right:100px; width:80px; height:85px; z-index:40; bottom:100px;"> -->
    </a>
  </p>
	
<!-- 	<div id="text_container"> 
		<p class="text_section">10/24/2014  00:13</p>
	</div>
	<div id="text_container"> 
		<p class="text_section"> 10/24/2014  13:09</p>
	</div> -->
</body>
</html>
