
<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Pushforfame</title>

	<meta name="description" content="Horizontal Scrolling with jQuery">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<style>
		body { background-color: black; }
		.section { 
			display: block; 
			width: 712px; 
			height: 400px; 
			float: left; 
			margin: 0px; 
			opacity: 1.0; 
			border-radius: 0px; 
			/*top: 400px;*/
		}

		.blue { background-color: #06F; }
		.green { background-color: #0f9d00; }
		.red { background-color: #F00; }
		.yellow { background-color: #ffea00; }

		.text_section {
			padding-left: 10px;
		}
		p {
			font-family: 'Open Sans', sans-serif; 
			font-size: 16px;
			color: white; opacity: 0.9;
		}

		#container { width: 10680px;}  /*   container width = 712px * number of pictures  */
	</style>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
	<div id="container">

		<img src="images/feature_1.jpg" class="section" />
		<img src="images/1.jpg" class="section" />
		<img src="images/2.jpg" class="section" />
		<img src="images/3.jpg" class="section" />
		<img src="images/4.jpg" class="section" />
		<img src="images/5.jpg" class="section" />
		<img src="images/6.jpg" class="section" />
		<img src="images/7.jpg" class="section" />
		<img src="images/8.jpg" class="section" />
		<img src="images/9.jpg" class="section" />
		<img src="images/10.jpg" class="section" />
		<img src="images/11.jpg" class="section" />
		<img src="images/12.jpg" class="section" />
		<img src="images/13.jpg" class="section" />
		<img src="images/14.jpg" class="section" />
	</div>
	<div id="text_container"> 
		<p class="text_section"> 
			NO WAR  <br>
			I'M RUSSIAN. I'M UKRAINIAN 
		</p>
	</div>
<!-- 	<p>NO WAR</p>
	<p>I'm Russian</p> -->

</body>
</html>
