<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Pushforfame</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      h1 {font-family: 'Open Sans', sans-serif; font-size: 15px; }
      h2 {
        position: absolute; left: 502px; top: 183px; z-index: 10; padding-top: 30; 
        background-color: rgba(0, 0, 0, 0.8);  
        font-family: 'Open Sans', sans-serif; 
        color: #FF0000;
        /*color: rgba(0,0,0,0.9);*/
        font-size: 21px;
      }
      p {font-size: 16px;}
      a.temp:link {text-decoration:none;}    /* unvisited link */
      a.temp:visited {text-decoration:none; color: white;} /* visited link */
      a.temp:active {text-decoration:underline;}  /* selected link */
      a.temp:link {text-decoration:none; color:white !important; opacity:1.0;}
      a.temp:hover {color:#FF0000 !important;} 

      a:link {text-decoration:none;}    /* unvisited link */
      a:visited {text-decoration:none; color: black;} /* visited link */
      a:active {text-decoration:underline;}  /* selected link */
      a:link {text-decoration:none; color:black !important; opacity:1.0;}
      a:hover {color:#FF0000 !important;} 
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


<script>
var map;

function initialize() {
  var nyu = new google.maps.LatLng(40.7277, -73.9924);
  var ada = new google.maps.LatLng(40.7538, -73.9932);
  

  // customized map
  var MY_MAPTYPE_ID = 'custom_style';

  var featureOpts = [
    {
      stylers: [
        { hue: '#ffffff' },
        { saturation: -100 },
        { visibility: 'simplified' },
        { lightness: 0 },
        { gamma: 0.9 }
      ]
    },
    {
      elementType: 'labels',
      stylers: [
        { visibility: 'off' }
      ]
    },
    {
      featureType: 'water',
      stylers: [
        { color: '#ffffff' }
      ]
    }
  ];

  var mapOptions = {
    zoom: 13,
    center: new google.maps.LatLng(40.735530, -74.044724),
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
    },
    mapTypeId: MY_MAPTYPE_ID
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var styledMapOptions = {
    name: 'Custom Style'
  };

  var icon_src = document.getElementById("icon").getAttribute('src');

  // info window
  var content_nyu = '<div id="content">'+
        '<a href="/nyu"><h1 id="firstHeading" class="firstHeading">New York University</h1>'+
        '<div id="bodyContent">'+'<p>'+ 'March 22 2014'+'</p></div>'+
      '</div>';

  var content_ada = '<div id="content">'+
    '<a href="/ada"><h1 id="firstHeading" class="firstHeading">Adaptive Design Association</h1>'+
    '<div id="bodyContent">'+'<p>March 22 2014</p></div>'+
  '</div>';

  var infowindow_nyu = new google.maps.InfoWindow({
      content: content_nyu 
  });

  var infowindow_ada = new google.maps.InfoWindow({
      content: content_ada
  });

  var marker_nyu = new google.maps.Marker({
    position: nyu,
    icon: icon_src,
    map: map
  });

  // markers
  var marker_ada = new google.maps.Marker({
    position: ada,
    icon: icon_src,
    map: map
  });

   google.maps.event.addListener(marker_nyu, 'click', function() {
    infowindow_nyu.open(map,marker_nyu);
   });

   google.maps.event.addListener(marker_ada, 'click', function() {
    infowindow_ada.open(map,marker_ada);
  });

  var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
  map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>

  <body>
    <div id="map-canvas"></div>

    <!-- <img id="icon" src="50.png" position="absolute"width="50px" height="80px" top="10px"/ > -->

    <img id="icon" src="50.png" style="position:absolute; top:10px; z-index: -10;"/ >

    <img src="bunny.jpg" width="382" style="position: absolute; left: 120px; top: 200px; z-index: 10;">

    <h2 style="padding:23px; padding-bottom:24px;">
      # PUSH FOR FAME<br>   
      <p style="font-size: 13px;">
        <br><a class="temp" href='/aboutus'>ABOUT US</a>
        <br><br><a class="temp" href='/highlights'>HIGHLIGHTS</a>
        <br><br><a class="temp" href='/people'>PEOPLE</a><br>
      </p>
      
      <p style="font-size: 12px; color: grey;">
      Directed by Yu-Ting Feng <br>
      with Ju Young Park & Youjin Shin
      </p>
    </h2>
<!-- </body> -->
  </body>
</html>