
<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Pushforfame</title>

	<meta name="description" content="Horizontal Scrolling with jQuery">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style_main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<style>
		body { background-color: black; }
		.section { 
			display: block; 
			width: 71px; 
			height: 40px; 
			float: left; 
			margin: 0px; 
			opacity: 1.0; 
			border-radius: 0px; 
		}

		.blue { background-color: #06F; }
		.green { background-color: #0f9d00; }
		.red { background-color: #F00; }
		.yellow { background-color: #ffea00; }
		p {
			font-family: 'Open Sans', sans-serif; 
			font-size: 14px;
			color: white; opacity: 0.8;
		}
	</style>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
	<div id="container">
		<p>DAY 1</p>
		<a href = '/nyu'>
			<img src="images/1.png" class="section" />
			<img src="images/2.png" class="section" />
			<img src="images/3.png" class="section" />
			<img src="images/4.png" class="section" />
			<img src="images/5.png" class="section" />
			<img src="images/6.png" class="section" />
			<img src="images/7.png" class="section" />
			<img src="images/8.png" class="section" />
			<img src="images/9.png" class="section" />
			<img src="images/10.png" class="section" />
			<img src="images/11.png" class="section" />
			<img src="images/12.png" class="section" />
			<img src="images/13.png" class="section" />
			<img src="images/14.png" class="section" />
		</a>
	</div>

	<div id="container" style="top:200px;">
		<p>DAY 2</p>
		<a href = '/nyu'>
			<img src="images/1.png" class="section" />
			<img src="images/2.png" class="section" />
			<img src="images/3.png" class="section" />
			<img src="images/4.png" class="section" />
			<img src="images/5.png" class="section" />
			<img src="images/6.png" class="section" />
			<img src="images/7.png" class="section" />
			<img src="images/8.png" class="section" />
			<img src="images/9.png" class="section" />
			<img src="images/10.png" class="section" />
			<img src="images/11.png" class="section" />
			<img src="images/12.png" class="section" />
			<img src="images/13.png" class="section" />
			<img src="images/14.png" class="section" />
		</a>
	</div>
</body>
</html>
