<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Pushforfame</title>

	<meta name="description" content="Horizontal Scrolling with jQuery">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<style>
		body { background-color: black; }
		.section { 
			display: block; 
			width: 712px; 
			height: 400px; 
			float: left; 
			margin: 0px; 
			opacity: 1.0; 
			border-radius: 0px; 
			/*top: 400px;*/
		}
		.blue { background-color: #06F; }
		.green { background-color: #0f9d00; }
		.red { background-color: #F00; }
		.yellow { background-color: #ffea00; }

		.text_section {
			padding-left: 10px;
		}
		p {
			font-family: 'Open Sans', sans-serif; 
			font-size: 16px;
			color: white; opacity: 0.9;
		}
		#container { width: 29192px;}  /*   container width = 712px * number of pictures  */
	</style>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<!-- 41 images -->
		<img src="/david_tracy/10_24_00_13.jpg" class="section" />
		<img src="/david_tracy/10_24_13_09.jpg" class="section" />
		<img src="/david_tracy/10_24_14_16_1.jpg" class="section" />
		<img src="/david_tracy/10_24_14_16_2.jpg" class="section" />
		<img src="/david_tracy/10_25_19_06.jpg" class="section" />
		<img src="/david_tracy/10_28_18_00.jpg" class="section" />
		<img src="/david_tracy/10_30_15_24.jpg" class="section" />
		<img src="/david_tracy/11_01_15_29_1.jpg" class="section" />
		<img src="/david_tracy/11_01_15_29_2.jpg" class="section" />
		<img src="/david_tracy/11_03_00_09.jpg" class="section" />
		<img src="/david_tracy/11_03_23_13.jpg" class="section" />
		<img src="/david_tracy/11_05_19_45.jpg" class="section" />
		<img src="/david_tracy/11_11_09_20.jpg" class="section" />
		<img src="/david_tracy/11_11_22_21.jpg" class="section" />
		<img src="/david_tracy/11_12_00_33_2.jpg" class="section" />
		<img src="/david_tracy/11_12_00_33.jpg" class="section" />
		<img src="/david_tracy/11_12_21_54_1.jpg" class="section" />
		<img src="/david_tracy/11_12_21_54_2.jpg" class="section" />
		<img src="/david_tracy/11_15_13_03.jpg" class="section" />
		<img src="/david_tracy/11_17_16_02.jpg" class="section" />
		<img src="/david_tracy/11_19_01_34.jpg" class="section" />
		<img src="/david_tracy/11_20_01_21.jpg" class="section" />
		<img src="/david_tracy/11_21_23_29.jpg" class="section" />
		<img src="/david_tracy/11_26_15_41_1.jpg" class="section" />
		<img src="/david_tracy/11_26_15_41_2.jpg" class="section" />
		<img src="/david_tracy/11_27_19_51_1.jpg" class="section" />
		<img src="/david_tracy/11_27_19_51_2.jpg" class="section" />
		<img src="/david_tracy/12_03_15_41_1.jpg" class="section" />
		<img src="/david_tracy/12_03_15_41_2.jpg" class="section" />
		<img src="/david_tracy/12_04_03_55_1.jpg" class="section" />
		<img src="/david_tracy/12_04_03_55_2.jpg" class="section" />
		<img src="/david_tracy/12_04_03_55_3.jpg" class="section" />
		<img src="/david_tracy/12_05_21_58.jpg" class="section" />
		<img src="/david_tracy/12_08_16_14_1.jpg" class="section" />
		<img src="/david_tracy/12_08_16_14_2.jpg" class="section" />
		<img src="/david_tracy/12_08_16_14_3.jpg" class="section" />
		<img src="/david_tracy/12_08_18_50_1.jpg" class="section" />
		<img src="/david_tracy/12_08_18_50_2.jpg" class="section" />
		<img src="/david_tracy/12_09_17_15_1.jpg" class="section" />
		<img src="/david_tracy/12_09_17_15_2.jpg" class="section" />
		<img src="/david_tracy/12_09_23_53.jpg " class="section" />

	</div>
	
<!-- 	<div id="text_container"> 
		<p class="text_section">10/24/2014  00:13</p>
	</div>
	<div id="text_container"> 
		<p class="text_section"> 10/24/2014  13:09</p>
	</div> -->
</body>
</html>
